@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .h-80vh {
    height: 80vh;
  }
}

.gradient-text {
  background-image: linear-gradient(to right, #b967ff, #54ffbd);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}


/* avoid inputs returning to white background on autocomplete */
/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
